.app {
    display: flex;
}

.content {
    margin-left: 60px;
    padding: 20px;
    width: calc(100% - 60px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidebar.open + .content {
    margin-left: 200px;
    width: calc(100% - 200px);
}
